<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% no_workflow_restrictions = !( @presenter.respond_to?( :workflow_restriction? ) and @presenter.workflow_restriction? ) %>
  <% if Hyrax.config.display_media_download_link? && no_workflow_restrictions %>
    <p /><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set),
      id: "file_download",
      data: { label: file_set.id },
      target: "_new" %>
  <% end %>
</div>
