<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Select <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <% no_workflow_restrictions = !( @presenter.respond_to?( :workflow_restriction? ) and @presenter.workflow_restriction? ) %>
    <% if can?( :edit, document ) && no_workflow_restrictions %>
      <li>
        <%= link_to [main_app, :edit, document],
                    class: "itemicon itemedit",
                    title: t('hyrax.collection.document_list.edit'),
                    id: "edit_work_link_#{document.id}" do %>
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> <%= t('hyrax.collection.document_list.edit') %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= display_trophy_link(current_user, document.id) do |text| %>
        <i class="glyphicon glyphicon-star" aria-hidden="true"></i> <%= text %>
      <% end %>
    </li>
  </ul>
</div>
